body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
body, html {
    height: 100%;
    display: grid;
}

.cont{
    margin: auto;
    text-align:center;
    border:20px solid;
    border-radius: 40px;
    padding:5%;
    width:30%;

}

#login { 
    background: rgb(40,40,40);
}

#login *{
    margin: auto;
    width: 100%;
}

#tileset {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
}

.row{
    padding: 0px;
    display: inline !important;
    height: 90px;
}
.tile{
    box-sizing: content-box;
    width:20%;
    line-height: 500%;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2px;
    text-align: center;
    border: 1px solid black;
}

.zero{
    color:white;
}

#submit{
    display: inline-block;
    width: 40%;
    height: 30%;
}

#labelpseudo{
    color: white;
    font-size: 250%;
}

#pseudo{
    margin:10%;
    width: 40%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 23px/normal Arial Black, Gadget, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 2px;
    background: rgb(40,40,40);
}

.button {
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    background-color:#ff5bb0;
    border-radius:6px;
    border:1px solid #ee1eb5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
}
.button:hover {
    background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
    background-color:#ef027d;
}
.button:active {
    position:relative;
    top:1px;
}